.screen {
  width: 100%;
  height: 100vh;
  background: var(--background);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.title {
  font-weight: 800;
  font-size: 3rem;
  white-space: nowrap;
}

.one {
  font-size: 4.5rem;
  display: inline;
}

.subtitle {
  margin-top: 1rem;
  font-size: 2rem;
  white-space: nowrap;
}

.timer-container {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-number {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.timer-label {
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.7rem;
}

.timer {
  font-size: 8rem;
}

.contact-btn {
  background: var(--green);
  margin-top: 3.5rem;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.contact-btn:hover {
  opacity: 0.8;
}

.contact-btn h6 {
  font-size: 1.8rem;
  color: white;
  text-shadow: none;
}

.contact-btn-shadow {
  position: absolute;
  left: 0;
  top: 0;
  bottom: -2px;
  right: -2px;
  background: rgba(0, 177, 131, 0.3);
  border-radius: 5px;
  z-index: -1;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem 0 4rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  width: 15rem;
}

.logo-shadow {
  width: 15rem;
  position: absolute;
  top: 3px;
  left: 3px;
  opacity: 0.3;
}

.socials-container {
  display: flex;
  align-items: center;
}

.social-container {
  width: 65px;
  height: 65px;
  background: var(--green);
  border-radius: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
  z-index: 0;
  cursor: pointer;
}

.social-container:hover {
  opacity: 0.8;
}

.social-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -4px;
  right: -4px;
  background: rgba(0, 177, 131, 0.3);
  border-radius: 100px;
  z-index: -1;
}

.social-container img {
  width: 35px;
}

.facebook {
  width: 20px !important;
}

.illustration {
  position: absolute;
  bottom: -50px;
  left: -50px;
  width: 35vw;
  opacity: 0.5;
}

.legal {
  position: absolute;
  font-size: 1.4rem;
  bottom: 20px;
  right: 20px;
}

@media screen and (max-width: 1750px) {
  .illustration {
    width: 40vw;
  }
}

@media screen and (max-width: 1570px) {
  .illustration {
    width: 45vw;
  }
}

@media screen and (max-width: 1180px) {
  .illustration {
    width: 50vw;
  }

  .timer-container {
    width: 60vw;
  }
}

@media screen and (max-width: 1050px) {
  .illustration {
    display: none;
  }

  .timer-container {
    width: 70vw;
  }
}

@media screen and (max-width: 900px) {
  .timer-container {
    width: 95vw;
  }
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 2.5rem;
  }

  .one {
    font-size: 4rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .timer {
    font-size: 6.5rem;
  }

  .contact-btn h6 {
    font-size: 1.4rem;
  }

  .legal {
    font-size: 1rem;
  }

  .logo {
    width: 10rem;
  }

  .logo-shadow {
    width: 10rem;
  }

  .social-container {
    width: 50px;
    height: 50px;
  }

  .social-container img {
    width: 25px;
  }

  .facebook {
    width: 15px !important;
  }
}

@media screen and (max-width: 650px) {
  .title {
    font-size: 2rem;
  }

  .one {
    font-size: 3.5rem;
  }

  .subtitle {
    font-size: 1.4rem;
  }

  .timer {
    font-size: 6rem;
  }

  .timer-label {
    font-size: 1.2rem;
  }

  .contact-btn h6 {
    font-size: 1.3rem;
  }

  .legal {
    font-size: 1rem;
  }

  .logo {
    width: 8rem;
  }

  .logo-shadow {
    width: 8rem;
  }

  .social-container {
    width: 45px;
    height: 45px;
  }

  .social-container img {
    width: 25px;
  }

  .facebook {
    width: 15px !important;
  }

  .header {
    padding: 2rem 2rem 0 2rem;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 1.6rem;
  }
  .one {
    font-size: 2.5rem;
  }

  .timer {
    font-size: 5rem;
  }
}

@media screen and (max-width: 430px) {
  .header {
    flex-direction: column;
  }

  .social-container:nth-child(1) {
    margin-left: 0;
  }

  .socials-container {
    margin-top: 2rem;
  }

  .title {
    font-size: 1.4rem;
  }

  .one {
    font-size: 2.2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .timer {
    font-size: 4rem;
  }

  .timer-label {
    bottom: -25%;
  }

  .contact-btn h6 {
    font-size: 1rem;
  }

  .legal {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 380px) {
  .title {
    font-size: 1.2rem;
  }

  .one {
    font-size: 2rem;
  }

  .timer {
    font-size: 3.8rem;
  }
}

@media screen and (max-height: 860px) {
  .illustration {
    display: none;
  }
}

@media screen and (max-height: 700px) {
  .logo {
    width: 8rem;
  }

  .logo-shadow {
    width: 8rem;
  }

  .social-container {
    width: 45px;
    height: 45px;
  }

  .social-container img {
    width: 25px;
  }

  .facebook {
    width: 15px !important;
  }

  .header {
    padding: 2rem 2rem 0 2rem;
  }
}

@media screen and (max-height: 620px) {
  .header {
    padding: 1rem 2rem 0 2rem;
  }
}
